body {
  font-family:      微软雅黑,Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  background-color: #cffbff;
  margin-top:       5%;
  margin-bottom:    15%;
  margin-left:      18%;
  margin-right:     15%;
  text-align:       center;
  border:           solid 30px #fff; 
  padding:          140px 0px 130px 130px;
}
a {
  text-decoration:  blink; 
  font-weight:      600; 
}
a:hover {
  text-decoration:  underline;
}
a img {
  border:           0;
}
h2 {
  font-size:        159%;
}
table {
  margin-left:      20px;
  margin-right:     20px;
  caption-side:     bottom;
  text-align:       center;
  color:            #357ebd;
}
td, th {
  padding:          18px;
  text-align:       center;
}
.copyright {
  font-size:        75%;
  font-style:       italic;
}
.slogan {
  font-size:        75%;
  font-style:       italic;
}
.confirmentry {
  font-weight:      600; 
}

/*** Tables ***/
table {
font-size:          1em;
background-color:   ##ffe1ef;
border:             10px solid #dcdeff;
color:              #000000;
padding:            10px 10px 20px;
border-collapse:    collapse;
text-align:         center;
}

td, th {
border:            solid 3px #fff;
}

/*** Inputs ***/
input[type=text] {
  font-size:        119%;
  width:            27em;
}
input[type=submit] {
  font-size:        150%;
}
select {
  font-size:        125%;
  color:            #357ebd
}
